{% extends 'base.html' %}
{% load static %}

{% block title %}Oferta de Cursos{% endblock %}

{% block content %}
<div class="cards-container">
    <div class="students-row">
        <div class="student-card">
            <img src="{% static 'images/students/e1.jpg' %}" alt="DARIO BARRENO" class="student-image">
            <h5>DARIO BARRENO</h5>
            <p>Nivel: Sexto Semestre</p>
        </div>
        <div class="student-card">
            <img src="{% static 'images/students/e2.jpg' %}" alt="KIARA BRAVO" class="student-image">
            <h5>KIARA BRAVO</h5>
            <p>Nivel: Sexto Semestre</p>
        </div>
        <div class="student-card">
            <img src="{% static 'images/students/e3.jpg' %}" alt="JEFFERSON JIMENEZ" class="student-image">
            <h5>JEFFERSON JIMENEZ</h5>
            <p>Nivel: Sexto Semestre</p>
        </div>
        <div class="student-card">
            <img src="{% static 'images/students/e4.jpg' %}" alt="JORGE PADILLA" class="student-image">
            <h5>JORGE PADILLA</h5>
            <p>Nivel: Sexto Semestre</p>
        </div>
        <div class="student-card">
            <img src="{% static 'images/students/e5.jpg' %}" alt="NESTOR QUITO" class="student-image">
            <h5>NESTOR QUITO</h5>
            <p>Nivel: Sexto Semestre</p>
        </div>
    </div>
    <div class="info-row">
      <div class="info-card docentes">
          <img src="{% static 'images/icons/docentes-icon.png' %}" alt="Docentes" class="info-image">
          <div class="overlay">
              <h3>Conoce a Nuestros Docentes</h3>
              <p>En UNEMI contamos con docentes de calidad y experiencia única, comprometidos con tu formación profesional.</p>
              <a href="{% url 'docente:listar_docentes' %}" class="btn-link">Ver Docentes</a>
          </div>
      </div>
      <div class="info-card cursos">
          <img src="{% static 'images/icons/cursos-icon.png' %}" alt="Cursos" class="info-image">
          <div class="overlay">
              <h3>Explora Nuestros Cursos</h3>
              <p>Descubre una amplia oferta académica diseñada para potenciar tus conocimientos y habilidades.</p>
              <a href="{% url 'materia:listar_materias' %}" class="btn-link">Ver Cursos</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}